@import "tailwindcss";

:root {
  --bg: #ffffff;
  --text: #0f172a;
  --accent: #6366f1;
  --primary: #024E44;
  --text-main: #131313;
  --text-secondary: #04907E;
  --text-tertiary: #6C6C6C;
  --primary-light: #04907E;
}

@layer utilities {
  .scrollbar-green {
    scrollbar-width: thin;
    scrollbar-color: #04907E transparent;
  }

  .scrollbar-green::-webkit-scrollbar {
    width: 3px;
  }

  .scrollbar-green::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-green::-webkit-scrollbar-thumb {
    background-color: #04907E;
    border-radius: 999px;
  }

  .scrollbar-green::-webkit-scrollbar-thumb:hover {
    background-color: #037065;
  }
}
html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-poppins), system-ui, sans-serif;
}

.font-inter {
  font-family: var(--font-inter), system-ui, sans-serif;
}

.font-gentium {
  font-family: var(--font-gentium), system-ui, sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), system-ui, sans-serif;
}

.bg-gradient {
  background: linear-gradient(180deg, #FFFFFF 80%, #F5FFD6 98%);
}
.about-gradient {
  background: linear-gradient(93.58deg, #ECFCBA 48.14%, #D6FEF9 97.6%);
}

.soft-fade {
  -webkit-mask-image: radial-gradient(
    ellipse at center,
    black 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse at center,
    black 60%,
    transparent 100%
  );
}

